body {
  height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sidebar {
  font-size: 16px;
  background-color: #f7f7f7;
  height: 100vh;
}

.sidebar-2 {
  font-size: 16px;
  background-color: #f7f7f7;
  height: 130vh;
}

.sidebar .sidebar-item {
  padding: 10px 0 5px 20px;
}

.sidebar .sidebar-item a {
  color: #919191;
  text-decoration: none;
}

.sidebar .sidebar-item a.active {
  color: #000;
  text-decoration: none;
}

.content {
  padding: 0 !important;
}

.content .header {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 24px;
  padding-left: -10px;
}

.content .content-1 {
  height: 25vh;
}

.content .content-2 {
  height: 25vh;
}

.content .content-3 {
  height: auto;
  position: absolute;
  bottom: 10px;
}

.name {
  font-size: 18px;
}

.title {
  text-align: center;
  font-size: 20px;
}

.rozklad img {
  max-width: 100%;
  padding: 10px;
  /* margin-bottom: 40px; */
}
